<%= @liste.quantity %>
<% @liste.recipes.each do |recipe| %>
<%= link_to   recipe_path(recipe) do %>
<div class="card">
  <h5 class="card-header"><%= recipe.name %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= recipe.complexity %> </h5>
    <h5 class="card-title"><%= recipe.price %> </h5>
    <p class="card-text"> <%= recipe.description %></p>
  </div>
</div>
<% end %>
<% end %>

<button class='btn btn-primary'>crétion liste d'ingrédients</button>
<%= button_to "Créer la liste d'ingrédient", liste_liste_ingredient_path(@liste), method: :post, class: 'btn btn-primary' %>
